<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="fragment-footer">
    <br>
    <div class="jumbotron text-center" style="margin-top:0">
        <p>Created by jay</p>
       <p>🏛 부산대학교 분자생물학과 - Spring 백엔드 개발자 취준생 👍</p>
        <a href="https://kjh950601.tistory.com/" target="_blank" style="text-decoration:none; color: black">🔗 Blog</a><br>
        <a href="https://github.com/K-J-HYEON" target="_blank" style="text-decoration:none; color: black">🔗 Github</a>

    </div>
</footer>
</html>

